<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="input-group">
          <div class="input-group-addon"><i class="ti-search"></i></div>
          <input type="text" class="form-control" placeholder="Buscar usuario..." #txtSearch
            (keydown)="search(txtSearch.value)">
        </div>
      </div>
    </div>
  </div>
</div>

<app-table-loader [loading]="loading"></app-table-loader>

<div class="row animated fadeIn fast" *ngIf="!loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4>Total de usuarios <span class="label label-rouded label-themecolor">{{totalUsers}}</span></h4>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Avatar</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th class="w140">Permisos</th>
                <th class="w100">Rol</th>
                <th class="text-nowrap w100">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td class="text-center">
                  <img src="{{user.imageUrl}}" alt="Avatar de usuario" class="avatar" (click)="openModal(user)">
                </td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td class="text-center">
                  <select class="form-control" [(ngModel)]="user.role" (change)="changeRole(user)">
                    <option value="ADMIN_ROLE">Admin</option>
                    <option value="USER_ROLE">User</option>
                  </select>
                </td>
                <td class="text-center">
                  <span *ngIf="user.google" class="label label-danger">Google</span>
                  <span *ngIf="!user.google" class="label label-info">Local</span>
                </td>
                <td class="text-nowrap text-center">
                  <a (click)="deleteUser(user)" data-toggle="tooltip" data-original-title="Eliminar">
                    <i class="fa fa-close text-danger cursor"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="btnContainer" *ngIf="txtSearch.value.length === 0">
          <button (click)="changePage(-5)" class="btn btn-secondary mr-2">Anteriores</button>
          <button (click)="changePage(+5)" class="btn btn-secondary">Siguientes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-image></app-modal-image>
